<div ng-cloak>
    <div class="row">
        <div class="col-md-8">
            <input type="text" name="symobl" ng-model="symbol" required>
            <button ng-click="save(symbol)">Click</button>

            <table class="table table-condensed table-striped table-bordered table-responsive"
                   infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>

                <thead>
                <tr title="click to order">
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                    <!--<th ng-click="predicate = 'level'; reverse=!reverse">{{'logs.table.level' | translate}}</th>-->
                </tr>
                </thead>
                <tr ng-repeat='item in reddit.items'>
                    <td>{{item.date}}</td>
                    <td>{{item.open}}</td>
                    <td>{{item.high}}</td>
                    <td>{{item.low}}</td>
                    <td>{{item.close}}</td>
                    <td>{{item.volume}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>